<form [formGroup]="loginForm" name="Login" (submit)="handlesumbit()">
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="Email" formControlName="email" name="Email" class="form-control" id="Email" placeholder="name@example.com" />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">password</label>
        <input type="password" formControlName="password" name="Password" required="minlength 6" class="form-control" id="password" placeholder="*******" />
    </div>
    <div>
        <button class="btn btn-primary" [disabled]="loginForm.invalid">
      Login
    </button>
    </div>
</form>